


  /*************** FIX BS MARGIN on fluid scafolding **************/ 
  #container-folio.row-fluid .span6:nth-child(2n+1){
    margin-left:0px;
  }
  
  #container-folio.row-fluid .span4:nth-child(3n+1){
    margin-left:0px;
  } 
  
  #container-folio.row-fluid .span3:nth-child(4n+1){
    margin-left:0px;
  }



/************************** BS ELEMENTS *********************************/    
  .well {
    color:#2b2b2b;
    background:none;
    border-left:none;
    border-right:none;
    border-top:none;
    border-bottom:1px solid #ECF0F1;
    margin-bottom:40px;
    font-size:120%;
    
  }
  .well h2{
    font-size:48px;
    line-height: 1;
  }
  
  
  
  .thumbnail{
    background-color: #FFF;
    display: block;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
    overflow: hidden;
    box-shadow: rgb(153, 153, 153) 0px 1px 1px;
    -webkit-box-shadow: rgb(153, 153, 153) 0px 1px 1px;
    -moz-box-shadow: rgb(153, 153, 153) 0px 1px 1px;
    padding:0px;
    margin-bottom:30px;

    }
    
  .thumbnail:hover{
    
  }
   
  .thumbnail img{
    border-bottom:1px solid #dedede;
  } 
  
/************************************** CUSTOM STYLES *************************/

.feature-box {
  background-color: #ecf0f5;
  border-radius: 6px;
  padding: 14px;
  position: relative;
  text-align: center; }
  .feature-box.feature-box-hot:before {
    background: url("../../images/feature-box/ribbon.png") 0 0 no-repeat;
    background-size: 82px 82px;
    content: "";
    height: 82px;
    position: absolute;
    right: -4px;
    top: -4px;
    width: 82px; }


.feature-box-image {
   margin: 0 auto;
  background-repeat: no-repeat;
  background-position: center;
  width: 150px;
  height: 170px;
  display: block; }

.feature-box-title {
  font-size: 20px;
  margin: 0; }
  
  .box, .feature-box{
    margin-bottom:30px;
    
  }
  
   .feature-box h3 {
  font-size: 18px;
  font-weight: 600;
}

  .feature-box{

  }
  

  .label {
    white-space:normal;
  }
  .btn{
  /*-webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;*/
  }
  i.fa-icon-large{
    font-size:370%;
    margin-top:10px;
  }
  .wedo p{
    padding-top:0px;
  }
  .label{
    
    padding:30px 30px;
    display:block;
    
  }
  p{
    text-align:justify;
    padding:10px 0px;

  }
  .jumbotron p {
margin-bottom: 15px;
font-size: 17px;
font-weight: 20;
}


  .datoscentrados p{
   text-align:center;

  }

  .datoscentrados {
    margin-top: 15px;
  
  }
  .datoscentrados h3{
   text-align:center;

  }

   .datoscentrados .list-inline{
   text-align:center;
padding-left: 0;
margin-left: -5px;
list-style: none;

  }



  .feature-box p{
    text-align:center;
  }
  .pricing-table p{
    padding:0px;
    margin-top:5px;
    font-size:90%;
  }
  
  *.main-color{
    color:#1ABC9C;
  }
  .camein {
    width: 100%;
    min-width: 100%;
    display:block;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    }
  .camein p{
    min-width:50%;
    background: rgba(250,250,250, 0.15);
    position: relative;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    text-align:center;
    text-align:center;
    padding-left:auto;
    padding-right:auto;
    display:inline-block;
    border:1px solid rgba(250,250,250, 0.28);
  }
  
    .btn-block-third {
      display: block;
      width: 40%;
      padding-right: 0;
      padding-left: 0;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
      float: left;
    }
    
    i.or {
      float: left;
      display: block;
      width: 20%;
      padding-top: 10px;
      text-align:center;
      font-weight:600;
      color:#fff;
      }
      #main-nav select{
        float:right;
        margin-top:10px;
      
      }
      
      .hero-unit{
        background:  none/*#ECF0F1*/;
        padding-top:160px;
        z-index:2;
        position:relative;
      }
      
      .hero-unit hr.half{
        border: none;
        margin-bottom:40px;
      }
      .hero-unit h2{
        margin-bottom:40px;
      }
      .hero-unit h1, .hero-unit h2 {
        color:#fff;
        font-weight:700;
        text-shadow: 0 1px 3px rgba(0,0,0,.4), 0 0 30px rgba(0,0,0,.075);
        
      }
      
      .hero-unit h1 {
        font-size:70px;
      }
      
      #header-
      {
        position:relative;
        overflow:hidden;
      }
      #header-section .innerbg{
        background: rgba(44, 62, 80, 0.8)url(../../assets/img/tablebg.jpg) 50% 0 fixed repeat;
        min-height:650px;
        width:100%;
        display:inline-block;
        margin:0px;
        padding:0px;
        background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        -webkit-background-size: cover;
        position:relative;
        padding-bottom:50px;
        
      }
      
    
      
      #header-section .leftbg{
        background: rgba(40, 170, 157, 0.3) url(../../assets/img/pixel.png) 0% 0% repeat;
        min-height:100%;
        height:100%;
        width:100%;
        display:block;
        margin:0px 0px 0px 0px;
        padding:0px 0px 0px 0px;
        position:absolute;
        bottom:0px;
        z-index:1;
        
      }
      
      
      
    
      hr.half {
      margin: 12px 0;
      border: 0;
      border-top: 1px solid #ECF0F1;
      border-bottom: 1px solid #ffffff;
      }
    
  .page-header{
    border-bottom:none;
    padding:20px 0px;
    
  }
  
  
  .page-header.slogan span{
    margin-bottom:20px;
  }
  
  .page-header h3{
    font-size:60px;
    text-transform:uppercase;
    
    border-bottom:14px solid #1abc9c;
    display:inline-block;
    line-height:70px;
    color:#16a085;
    width:100%;
    padding-bottom:0px;
    
    
  }
  
  .page-header h3 small{
    color:#4b4b4b;
    border-bottom:none;
    font-size:18px;
  }
  
  .page-header.well h3{
    font-size:26px;
    text-transform:uppercase;
  }



/****************************** FEATURES ***************************************/

  #features-section{
        border-top: 4px solid #2fe2bf;
        min-height:550px;
        position:relative;
        overflow:hidden;
        color:#333;
        
  }
  
  .feature-box:hover{
    -webkit-box-shadow: 0px 0px 10px rgba(50, 50, 50, 0.5);
    -moz-box-shadow:    0px 0px 10px rgba(50, 50, 50, 0.5);
    box-shadow:         0px 0px 10px rgba(50, 50, 50, 0.5);
  }
    
     .panel{
      margin-top:0px; 
    margin-bottom:-50px; 
    padding-bottom:10px;
    padding-top:10px;
    padding-right:0px;
    padding-left:0px;
    border:0px;
    width:100%;
    max-width:100%;
    

      }
      
      .panel.first{
        margin-top:-50px; 
        background: url(../images/NuestrosServiciobarra.png);/*#f5f5f5 *//*f1f7fe*/; 

      }
      
      .panel.nobg{
        background:none;
        box-shadow: none;
        -webkit-box-shadow: none;
        -moz-box-shadow: none;      
      }
      
      .panel span{

        text-shadow:none;
        font-size:40px;
        font-weight:400;
        width:100%;
        display:inline-block;
        text-transform:uppercase;
        line-height:42px;
        
      }
      
      .panel span .inner{

        text-shadow:none;
        font-size:26px;
        font-weight:300;
        width:100%;
        display:inline-block;
        color:#2b2b2b;
        text-transform:none;
      }
  
  .features-more{
    padding:60px 0px 150px;

  }
  .features-more:first-child{
    border-top:none;
    
  }
  
  .features-more h3{
    font-size:26px;
    color:#2b2b2b;
  }
  
  .features-more{
    background: url(../../assets/img/shadright.png) bottom right no-repeat;
    
  }
  
  .features-more:nth-child(even){
    background: url(../../assets/img/shadleft.png) bottom left no-repeat;
    
  }
  .features-more:nth-child(odd).span6{
    background: url(../../assets/img/shadright.png) bottom right no-repeat;
    
    
  }
  
  .features-more:nth-child(odd) h3{
    text-align:right;
  }
  
  .lead {
    margin-bottom: 20px;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    }




